.contacto{

    .container{
        align-items: center;
        background-color: gray;
        height: 150px;
        max-width: 420px;
        width: 90%;
        
        border-radius: 20px;
      }
      
      .seccion-titulo {
        color: white;
      }
      
      .descripcion{
        color: white;
        font-size: 24;
      }
      
      .boton{
        display: inline-block;
}
}


     
      
    
    
    
    
  
  
  