.seccion-oscura{
    background-color: black;

    img .footer-logo {
      background-color: black;
      width: 60px;
      height: 50px;
    }

    
    
.iconos-redes-sociales{
    img {
      width: 30px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    
    img {
      width: 30px;
      margin-top: 20px;
      margin-left: 10px;
      margin-bottom: 10px;
    }

  }
  .derechos-de-autor {
    color: white;
  }
  .desarrollador{
    color: white;
  }
}
    
    
  
  
  
  
 
  